a {
  text-decoration: none !important;
  color: inherit !important;
}

.home {
  display: flex;
}

.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.runners_container {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.booking_container {
  display: flex;
  justify-content: space-around;
}

.booking_container_left {
  padding: 20px;
}

.booking_container_left > p > span {
  font-weight: bold;
}

.booking_container_left > button {
  border-radius: 10px;
  cursor: pointer;
}

.booking_container_right {
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.booking_container_right > img {
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.booking_container_right > button {
  margin-top: 20px;
  height: 30px;
  font-size: 10px;
  color: white;
  background-color: #f51997;
  border-radius: 10px;
}

.booking_container_right > button:hover {
  transform: scale(1.1);
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 60px;
}

.organiser_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.organiser_container > h1 {
  margin: 30px 0 30px 0;
}

.organiser_container > h2 {
  margin-bottom: 30px;
}

.events_container {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
